* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

main {
    width: 80%;
    box-shadow: 0px -30px 100px #1eff00;
}

body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track {
    background-color: #000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #15ff00;
}

header {
    height: 100vh;
    width: 80%;
    box-shadow: 0px -60px 100px #1eff00;
    position: relative;
    z-index: 99;
}

header .banner {
    background:url("../images/spidermanheader.jpg") no-repeat center  / 100% 100%;
    width: 100%;
    height: 100%;
}


@media (max-width:770px){
    main, header {
        width: 100%;
    }
   
}


.nav_bar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px 15px 30px;
    gap: 8%;
}

.nav_bar img {
    width: 140px;
    height: 60px;
}

.nav_bar .list-items{
    display: flex;
    list-style: none;
    gap: 50px;
    padding-right: 20px;
}
.nav_bar .list-items li{
    display: flex;
    justify-content: center;
}

.nav_bar .list-items li:hover,
.item_ativo {
    border-bottom: solid #fe7467;
}

.nav_bar .list-items li:nth-child(1){
    width: 35px;
}

.nav_bar .list-items li:nth-child(2){
    width: 60px;
}

.nav_bar .list-items li:nth-child(3){
    width: 55px;
}


.nav_bar .list-items li a {
    text-decoration: none;
    display: block;
    width: 100px;
    color: #fff;
    padding-bottom: 5px;
    cursor: pointer;
}

.banner_container_text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 60%;
    width: 35%;
}

.banner_container_text img {
    width: 18vw;
    height: 35vh;
}

@media (max-width:550px){
    .nav_bar{
        justify-content: center;
    }
    .nav_bar .list-items{
        padding-top: 10px;
    }
}




.container_area {
    background-color: #ffffff;
}

.backgrond_title, .catalogo_title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgrond_title h3, .catalogo_title h3 {
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    position:relative;
}
.backgrond_title h3::after, .catalogo_title h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 60%;
    left: 20%;
    border-bottom: solid 3px #fff;
}

.container_backgrond{
    background: url("../images/thor_header.jpg") no-repeat center / 100% 100%;
}


.infor_paragrafo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container_backgrond .infor_paragrafo {
    justify-content: center;
    align-items: end;
    height: calc(50vh - 100px);
}

.container_backgrond .infor_paragrafo p {
    width: 46%;
    padding: 0px 50px 0px 0px;
    color: #fff;
    font-size: clamp(0.6em,1em + 1em,0.9vw);
}

.container_catalogo {
    display: flex;
    flex-wrap:wrap-reverse;
 
}

.catalogo_title h3 {
    color: #000;
}

.catalogo_title h3::after {
    border-bottom: solid #000;
}

.container_catalogo .catalogo_img {
    flex: 1.1;
    display: flex;
    align-items: center;
    height: calc(50vh - 100px);
}
.container_catalogo .catalogo_img img {
    width: 100%;
    height: 100%;

}

.container_catalogo .infor_paragrafo {
    display: flex;
    gap: 30px;
}

.container_catalogo .infor_paragrafo p {
    padding: 0px 50px 0px 0px;
    font-size: clamp(0.6em,1em + 1.4em,1vw);
}

.container_catalogo a {
    text-decoration: none;
    padding: 10px 25px;
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(180deg, #fe7467, #fc3856) ;
}

@media (max-width:530px){
    header {
        box-shadow:none;
    }

    header .banner {
        background:url("..//images/images_mobile/spidermanheader_mobile.jpg") no-repeat center  / 100% 100%;
    }
    .nav_bar{
       height:200px;
       padding: 0;
    }
    .nav_bar #logo img {
       height: 100px;
       width: 200px;
       padding-top: 20px;
    }

    .banner_container_text img {
        width: 35vw;
        margin-left: 20px;
    }
    .container_backgrond{
        background: linear-gradient(180deg,  #f38278 , #da445a );
        height: 40vh;
    }

    .container_backgrond .infor_paragrafo p {
        width: 100%;
        text-align: center;
        padding: 20px;
        font-size: clamp(0.6em,1em + 1em,1vw);
        margin-bottom: 50px;
    }

    .container_catalogo .catalogo_img {
      justify-content: center;
      height: 200px;
    }

    .container_catalogo .catalogo_img img{
      width: 250px;
      height: 200px;
    } 
    .container_catalogo .infor_paragrafo {
        min-width: 300px;
        text-align: center;
    }

    .backgrond_title {
        height: 50px;
    }

   .catalogo_title{
        height: 60px;
    }

    .container_catalogo .infor_paragrafo p{
        padding: 0px 25px;
    }
  
 
}