* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track {
    background-color: #000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #15ff00;
}

header {
    height: 100vh;
    width: 80%;
    box-shadow: 0px -45px 100px #1eff00;
    position: relative;
    z-index: 99;
}

header .banner {
    background:url("../images/spidermanheader.jpg") no-repeat center  / 100% 100%;
    width: 100%;
    height: 100%;
}

@media (max-width:601){
    header .banner {
        height: 50%;
        background:url("../images/images_mobile/spidermanheader_mobile.jpg") no-repeat center right  / 100% 100%;
    }
}

.nav_bar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px 15px 30px;
    gap: 8%;
}



.nav_bar img {
    width: 140px;
    height: 60px;
}

.nav_bar .list-items{
    display: flex;
    list-style: none;
    gap: 50px;
    padding-right: 20px;
}
.nav_bar .list-items li{
    display: flex;
    justify-content: center;
}

.nav_bar .list-items li:hover,
.item_ativo {
    border-bottom: solid #fe7467;
}

.nav_bar .list-items li:nth-child(1){
    width: 35px;
}

.nav_bar .list-items li:nth-child(2){
    width: 60px;
}

.nav_bar .list-items li:nth-child(3){
    width: 55px;
}


.nav_bar .list-items li a {
    text-decoration: none;
    display: block;
    width: 100px;
    color: #fff;
    padding-bottom: 5px;
    cursor: pointer;
}

.banner_container_text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 60%;
    width: 35%;
}

.banner_container_text img {
    width: 15vw;
    height: 30vh;
}


@media (max-width:550px){
    .nav_bar{
        justify-content: center;
    }
    .nav_bar .list-items{
        padding-top: 10px;
    }
}

main {
    width: 80%;
    box-shadow: 0px -30px 100px #1eff00;
   
}



.infor_sobre {
    background: url("../images/thor_header.jpg") no-repeat left center / 100% 100%;
    height: 100vh;
    width: 100%;
}

.infor_sobre .infor_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;

}

.infor_sobre .infor_title div  {
    display: flex;
    justify-content: center;
    width: 70px;
    border-bottom: solid 3px #fff;
}

.infor_sobre .infor_title div h3 {
    display: flex;
    justify-content: center;
    min-width: 160px;
    padding: 5px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}

.infor_sobre .infor_paragrafo {
    display: flex;
    width: 100%;
    height: calc(100vh - 180px);
    position: relative;
}

.infor_sobre .infor_paragrafo div {
    max-width: 50%;
    min-width: 300px;
    height: 100%;
    padding: 30px 40px 40px 40px;
    position: absolute;
    right: 0;
}

.infor_sobre .infor_paragrafo div p {
    /* font-size: clamp(1vw,1.3vw + 1.2vw,1.3em); */
    font-size: 1em;
    color: #fff;
}

@media (max-width:1028px){
    
    .infor_sobre .infor_paragrafo div {
        padding: 30px 20px 40px 10px;
    }
}

@media (max-width:898px){
    
    .infor_sobre .infor_paragrafo div {
        padding: 10px 10px 10px 10px;
    }
    .infor_sobre .infor_paragrafo div p {
        font-size: clamp(1vw,1.5vw + 1.4vw,0.9em);
    }


}

@media (max-width:769px){
    main{
        width: 100%;
    }

    header{
        width: 100%;
    }

    header .banner{
        background:url("../images/images_mobile/spidermanheader_mobile.jpg") no-repeat center  / 100% 100%;
    }

    .infor_sobre .infor_paragrafo{
        justify-content: center;
    }
   
    .infor_sobre .infor_paragrafo div {
       min-width: 100%;
       padding: 0px 20px;
    }

    .infor_sobre {
        background: linear-gradient(45deg, #fc3836, #fe7467 );
    }

    .banner_container_text img {
        width: 39vw;
        height: 34vh;
        margin-left: 60px;
        margin-top: 50px;
    }
}

@media (max-width:600px){
 

    .banner_container_text{
        height: 70%;
    }

    .banner_container_text img {
        width: 35vw;
        height: 35vh;
        margin-top: 50px;
        margin-left: 30px;
    }
   
}
@media (min-width:481px) and (max-width:769px){
    .infor_sobre .infor_paragrafo div p {
        font-size: clamp(1vw,4vw + 2vw,1.1em);
        line-height: 20px;
        text-transform: capitalize;
    }
}

@media (min-width:270px) and (max-width:480px){
    .infor_sobre .infor_paragrafo div {
        padding: 0px 20px;
    }
    .infor_sobre .infor_paragrafo div p {
        font-size: clamp(1vw,3vw + 1vw,1em);
        line-height: 20px;
        text-transform: capitalize;
    }
    .banner_container_text{
        height: 80%;
    }
    .banner_container_text img {
        width: 39vw;
        height: 34vh;
        margin-left: 30px;
        margin-top: 50px;
    }
}


